div {
  background-color: greenyellow;
  height: 20px;
  width: 20px;
}
.grid {
  height: 400px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}
.previous-grid {
  height: 80px;
  width: 80px;
  display: flex;
  flex-wrap: wrap;
}
.previous-shape {
  height: 80px;
  width: 80px;
}
.block {
  background-color: blue;
}
.block2 {
  background-color: purple;
}
.block3 {
  background-color: green;
}
main {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-left: 60px;
  margin-top: 0px;
}

.column-left {
  display: flex;
  justify-content: center;
  display: inline;
  margin-left: 60px;
}

.score {
  padding-top: 15px;
  letter-spacing: 1px;
  font-size: 12px;
  color: #85796b;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.lines-display {
  letter-spacing: 1px;
  font-size: 12px;
  color: #85796b;
  margin-left: -60px;
}
